.chatRight {
    display: flex;
    justify-content: space-around;
    height: calc(100vh-70px);
}

@media screen and (min-width:900px) {
    .chatRight {
        margin-left: 25%;
    }
}

.chatList {
    width: 45%;
    height: 84vh;
    background-color: #e5d9d9;
    border-radius: 12px;
    overflow-y: scroll;
     /* display: flex; */
    /* flex-direction: column;
    justify-content: center; 
    align-items: center; */
}
.userList {
    margin: 2%;
} 

.messagingArea {
    width: 45%;
    background-color: aqua;
    /* padding-block: 63px; */
    border-radius: 12px;
    height: 87vh;
    overflow-y: hidden;
}

.messagingAreaMid{
    max-width: 100%;
    /* overflow-x: hidden; */
    height: 75%;
    background-color: #f8f0f0;
    overflow-y: hidden;
}

.message{
    display: flex;
    flex-direction: column;
}

.messageTop{
    display: flex;
    margin-top: 20px;
}

.messageImage{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.messageText{
    padding: 10px;
    border-radius: 10px;
    background-color: #1877f2;
    color:white;
    max-width: 200px;
}

.messageBottom{
    font-size: 12px;
    margin-top: 10px;
}
.messageInputDiv{
  width: 100%;
  display: flex;
  justify-content: center;
}

.chatUser:hover{
    background-color: rgb(241, 234, 234);
}

.message.own{
    align-items: flex-end;
}

.message.own .messageText{
    background-color: lightgrey;
    color: black;
}

.scrollToBottom{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}