.chatRight {
  display: flex;
  justify-content: space-around;
  height: calc(100vh-70px);
}

@media screen and (min-width: 900px) {
  .chatRight {
    margin-left: 25%;
  }
}

@media screen and (max-width: 900px) {
  .chatRight {
    margin-top: 8%;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

.chatList {
  width: 40%;
  max-height: 100vh;
  height: 500px;
  background-color: white;
  border: 2px solid grey;
  border-radius: 12px;
  overflow-y: scroll;
  overflow-x: hidden;
  /* display: flex; */
  /* flex-direction: column;
    justify-content: center; 
    align-items: center; */
}

@media screen and (max-width: 600px) {
  .chatList {
    width: 100%;
    border: 0px;
  }
}
.userList {
  margin: 2%;
}

.chatUsersList {
  margin-left: -44px;
  margin-top: -20px;
}

.messagingArea {
  width: 40%;
  background-color: aqua;
  /* padding-block: 63px; */
  border-radius: 12px;
  max-height: 100vh;
  height: 500px;
  border: 2px solid grey;
  overflow-y: hidden;
}

@media screen and (max-width: 600px) {
  .messagingArea {
    /* display: none; */
    width: 100%;
    border: 0ch;
    border-radius: 0%;
    background-color: white;
    max-height: 100vh;
    height: 88vh;
  }
}

.messagingAreaMid {
  /* max-width: 100%; */
  /* overflow-x: hidden; */
  width: 100%;
  height: 75%;
  background-color: white;
  overflow-y: hidden;
}

.message {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  /* overflow-x: hidden */
}

.message.own {
  align-items: flex-end;
}

.messageTop {
  display: flex;
  margin-top: 20px;
  overflow-x: hidden;
  height: auto;
}

.messageImage {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.messageText {
  padding: 10px;
  border-radius: 10px;
  background-color: #1877f2;
  color: white;
  max-width: 200px;
  word-wrap: break-word;
  height: auto;
}

@media screen and (max-width: 425px) {
  .messageText {
    max-width: 100px;
  }
}

.message.own .messageText {
  background-color: lightgrey;
  color: black;
  max-width: 200px;
  border-radius: 10px;
  padding: 10px;
  height: auto;
  word-wrap: break-word;
  margin-right: 16px;
}
@media screen and (max-width: 425px) {
  .message.own .messageText {
    max-width: 100px;
  }
}

.messageBottom {
  font-size: 12px;
  margin-top: 10px;
  margin-right: 16px;
}
.messageInputDiv {
  width: 100%;
  display: flex;
  justify-content: center;
}

.chatUser:hover {
  background-color: rgb(241, 234, 234);
}

.scrollToBottom {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.messageAreaText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 700px) {
  .messageAreaText {
    display: none;
  }
}
