* {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 900px) {
  .profileRightTop {
    margin-left: 8%;
  }
}

.profile {
  display: flex;
}

.profileCover {
  height: 320px;
  position: relative;
}

.profileRight {
  flex: 9;
  margin-top: 0.5%;
  /* margin-right: 1.5%; */
}

.profileCoverImg {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.profileUserImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 150px;
  margin: auto;
  border: 3px solid white;
}

.followButton {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

@media screen and (min-width: 900px) {
  .followButton {
    margin-left: 69px;
  }
}

.profileInfo {
  /* margin-top: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileInfoName {
  font-size: 24px;
}

.profileInfoDesc {
  font-weight: 300;
  text-align: center;
}

.bioMain {
  height: 115px;
  border: 2px solid;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  margin-top: 2%;
  align-items: center;
  position: relative;
}

@media screen and (min-width: 900px) {
  .bioMain {
    margin-left: 8%;
  }
}

@media screen and (max-width: 350px) {
  .bioMain {
    font-size: smaller;
  }
}
@media screen and (max-width: 379px) {
  .bioMain {
    padding-left: 2%;
  }
}

.followersMain {
  display: flex;
  flex-direction: row;
}

.followingMain {
  display: flex;
  flex-direction: row;
}

.viewMore {
  display: flex;
  justify-content: flex-start;
  position: relative;
  /* top: 0px; */
  left: 17px;
}

.viewMoreButton {
  background-color: #ff6464;
  width: 100px;
  height: 20px;
  border-radius: 6px;
  position: relative;
  bottom: 40px;
  left: 17px;
}

.editProfile {
  margin-top: 32px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: -94px;
  right: 17px;
}

/* ========feed style=================== */
.feedContainer {
  display: flex;
  flex-direction: column;
}

.feedMainCard {
  /* margin-left: 3%; */
  flex: 8;
  margin: auto;
}

@media screen and (min-width: 900px) {
  .feedMainCard {
    /* margin-left: 8%;*/
    /* margin-left: 13%;  */
    margin: auto;
  }
}

@media screen and (max-width: 715px) {
  .feedMainCard {
    margin: auto;
  }
}

@media screen and (min-width: 900px) {
  .feedMainCard {
    width: 600px;
    /* width: 810px */
  }
}

.infoList {
  margin-top: 34px;
  display: flex;
  justify-content: space-around;
}

.profileRightBottomMain {
  display: flex;
  justify-content: space-evenly;
  padding-left: 4%;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  max-height: 590px;
  overflow: hidden;
  /* top: 0px; */
  /* max-height: 500px; */
}

@media screen and (max-width: 800px) {
  .profileRightBottomMain {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    max-height: fit-content;
  }
}

.profileRightBottom {
  margin-top: 40px;
  max-height: 100%;
  overflow-y: scroll;
}

.peopleBox {
  margin-top: 40px;
  max-height: 100%;
  background-color: white;
  width: 38%;
  align-items: center;
  overflow-y: scroll;
}

@media screen and (max-width: 800px) {
  .peopleBox {
    width: auto;
    height: 300px;
  }
}
.following {
  background-color: white;
}

@media screen and (max-width: 800px) {
  .following {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 800px) {
  .followers {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* ///////////bio editing style//////////// */

.textFieldMain {
  padding: 5%;
}

.nameFields {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 490px) {
  .nameFields {
    flex-direction: column;
    width: 100%;
  }
}

.textField {
  margin-top: 4%;
}

.saveButton {
  display: flex;
  justify-content: center;
  margin-top: 6%;
}

.date {
  display: flex;
  margin-top: 4%;
}
.datePicker {
  margin-left: 4%;
  height: 26px;
}

/* /////user modal styles */

.userMainBox {
  position: relative;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}


.userBox {
  width: 100%;
  margin-top: 2%;
  position: relative;
}

.userCoverImg {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.userProfileImg {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  position: absolute;
  object-fit: cover;
  margin: auto;
  top: 150px;
  left: 0;
  right: 0;
  border: 3px solid white;
}

.userBottomMain { 
  margin-top: 57px;
  display: flex;
  justify-content: space-evenly;
}

/* .bottomLeft {
  flex: 3;
  background-color: greenyellow;
  height: 450px;
} */
.bottomMid {
  flex: 7;
  /* background-color: aqua; */
  max-height: 500px;
  height: 480px;
  overflow-y: scroll;
}
.bottomRight {
  flex: 4;
  background-color: aquamarine;
  height: 450px;
}

.userProfileInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 76px;
}

.userProfileInfoDesc{
  text-align: center;
  margin-top: 5px;
}

.userBioMain {
  height: 115px;
  border: 2px solid;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  margin-top: 2%;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 350px) {
  .userBioMain {
    font-size: smaller;
  }
}
@media screen and (max-width: 379px) {
  .userBioMain {
    padding-left: 2%;
  }
}

/* {postsDetails.post.map((postArray) => {
  return (
    <Posts key={postArray._id} data={postArray} />
  );
})} */
